<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Dash Chat needs access to your photo library to save photos you download from chats.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Dash Chat saves photos you download from chats to your photo library.</string>
</dict>
</plist>
