## editors
.idea
.vscode

## system files
.DS_Store

## npm
node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
dist/
/out-tsc/

storybook-static
*.tsbuildinfo

# holochain
*.happ
*.webhapp
*.zip
*.dna
*-dna_hashes
.hc*
.hc

# cargo
/target/
target

.direnv/
.envrc
result*
src-tauri/gen/apple/build/
**/*/google-services.json
**/*/GoogleService-Info.plist
service-account-key.json

# Development environment database files
*.redb
.dbs
.e2e-binaries
signal-reference

# Development environment log files
*.log
